<a href="https://colab.research.google.com/github/punho1/super-ai-64/blob/main/SuperAI_2021_Introduce_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Introduce to Python
แนะนำการเขียนโปรแกรมด้วย Python <br>
การเขียนสมการ<br>
$y=x^2$

In [ ]:
!python -V

Python 3.7.12

In [ ]:
#Object-oriented Programm + Functinal Programming
#Object 
#Class =แม่แบบ ชนิดข้อมูล 
#1 sequence 2. decision (if) 3.repeatiton(loop:for,while)
x=5
print(f'{x}') # {exp:format} {2.5776:0.2f}
print(f'{2.5776:5.2f}') # d=decimal , f=float, s=string,...
print(f'type(x)={type(x)}') #จะมองทุกอย่างเป็นคลาส
print(f'x={x}')

5
 2.58
type(x)=<class 'int'>
x=5

In [ ]:
type(x)

int

In [ ]:
print('Hello Python'+" Everyone")
print( 'Hi',end=' ')
print('John',end='\n')

Hello Python Everyone
Hi John

In [ ]:
d=2.5
print(f'type(d)={type(d)}')
print(f'd={d}')

type(d)=<class 'float'>
d=2.5

In [ ]:
c=1-2j
print(f'type(c)={type(c)}')
print(f'c={c}')
print(f'c.real={c.real}')
print(f'c.real={c.imag}')

type(c)=<class 'complex'>
c=(1-2j)
c.real=1.0
c.real=-2.0

## การแปลงชนิดข้อมูล

In [ ]:
x_str= '5.25'
x = float(x_str)
print(f'type of x_str={type(x_str)}')
print(f'x+4={x+4}')

type of x_str=<class 'str'>
x+4=9.25

In [ ]:
x_var= 15;
y_var=15
# รูปแบบ : จำนวนช่องไฟ .ทศนิยม type
print(f'id of x_var={id(x_var:5d)}')
print(f'id of y_var={id(y_var)}')
y_var=y_var+1
print(f'id of y_var={id(y_var)}, y_var={y_var}')

print(f'id of x_var={hex(id(x_var))}')

SyntaxError: ignored

In [ ]:
print(f'{125:05d}')

00125

In [ ]:
print(f'{13.579:5.2f}{7.2556:10.3f}')

13.58     7.256

In [ ]:
print(f'{"John":>10s}{"Giant"}')

      JohnGiant

## ชนิดข้อมูลพื้นฐาน List, tuple, Dictionary, set

In [ ]:
#List
#ตัวแปร = นิพจน์  อาจมองเป็นวัตถุ
lis_1= [5,2,3,5]
#lis_1= list([5,2,3])
print(f'type(lis_1)={type(lis_1)}')
lis_2= [ 4,5,6]
print(f'lis_1+lis_2={lis_1+lis_2}')
print(f'len(lis_1)={len(lis_1)}')
lis_1.remove(5)  
print(f'lis_1={lis_1}')

type(lis_1)=<class 'list'>
lis_1+lis_2=[5, 2, 3, 5, 4, 5, 6]
len(lis_1)=4
lis_1=[2, 3, 5]

In [ ]:
#tuple
m=(1,2)
print(f'm={m}, type(m)={type(m)}')
print(m[0])
print(m[1])
#m[0]=5 #error
m=(5,7)

m=(1, 2), type(m)=<class 'tuple'>
1
2

In [ ]:
#Dictinary
d={'01':50,'02':20,'03':40}
print(d)
print(d['01'])
print(d.keys)
for key,value in d.items():
  print(f'key={key} value={value}')

{'01': 50, '02': 20, '03': 40}
50
<built-in method keys of dict object at 0x7f1215797410>
key=01 value=50
key=02 value=20
key=03 value=40

## คำสั่ง if

In [ ]:
log_exp1= 5<=10;
log_exp2= 15<=10;
print(f'log_exp1={log_exp1}')
print(f'log_exp1={log_exp2}')
log_exp3 = 7 >2 and 7>3
print(f'log_exp3={log_exp3}')

log_exp4= 'A' < 'B' or 'A' <'C'
print(f'log_exp4={log_exp4}')
print(f'not(True)={not(True)}')
print(f'not(False)={not(False)}')

log_exp1=True
log_exp1=False
log_exp3=True
log_exp4=True
not(True)=False
not(False)=True

In [ ]:
x=int(input("enter x:"))
value=5
if(x>=value):
  print(f'x is greater than or equal to {value}')

enter x:20
x is greater than or equal to 5

In [ ]:
x=int(input("enter x:"))
value=5
if(x>=value):
  print(f'{x} is greater than or equal to {value}.')
else:
  print(f'{x} is less than {value}.')

enter x:5
5 is greater than or equal to 5.

In [ ]:
score=int(input("enter your score level[1-5]:"))

if(score==5):
  print(f'Excellent')
elif (score==4):
  print(f'Very good')
elif (score ==3):
  print(f' Good')
elif (score==2):
  print(f' Pass')
elif (score == 1):
  print(f' Poor')
else:
  print(f' Fail')

enter your score level[1-5]:5
Excellent

## การวนลูป

In [ ]:
n=int(input("Enter the number of Loops:"))
for i in range(n):
  print(f'loop {i}')

Enter the number of Loops:5
loop 0
loop 1
loop 2
loop 3
loop 4

In [ ]:
n=int(input("Enter the number of Loops:"))
i=1
while(i<=n):
  print(f'loop {i}')
  i=i+1
print('--end--')

Enter the number of Loops:3
loop 1
loop 2
loop 3
--end--

In [ ]:
L=[1,2,3,4]
for e in L:
  print(f'{e}')

1
2
3
4

In [ ]:
L=[ [1,2,3],[4,5,7,8]]
for e in L:
  for s in e:
    print(f'{s}',end=' ')
  print()

1 2 3
4 5 7 8

## Function

In [ ]:
def f(x):
  return x*x

y=f(2)
print(f'y={y}')

y=4

In [ ]:
def printTest(s1,s2):
  print(f's1={s1} s2={s2}')

In [ ]:
printTest("John","Vice")

s1=John s2=Vice

In [ ]:
#lambda function
fun= lambda x: x*x
print(f'fun(5)={fun(5)}')

fun(5)=25

In [ ]:
f2 = lambda x,y:x+y
print(f2(7,8))

15

In [ ]:
#first-class function
from mpmath import *
def f(x1, x2):
  return x1**2 + x2, 5*x1**2 - 3*x1 + 2*x2 - 3

r=findroot(f, (0, 0))
print(f'root={r}')

root=[-0.618033988749895]
[-0.381966011250105]

In [ ]:
f = [lambda x1, x2: x1**2 + x2,
...      lambda x1, x2: 5*x1**2 - 3*x1 + 2*x2 - 3]
r=findroot(f, (0, 0))
print(r)

[-0.618033988749895]
[-0.381966011250105]

In [ ]:
#default value of parameters in a function
def printChars(p="*",n=5):
  text=str("")
  print(f'p={p} , n={n}')
  for i in range(1,n+1):
    text=text+p
  return text

In [ ]:
#Test printChars
text=printChars() #ok
#text=printChars(10) #error
text=printChars("-") #ok
text=printChars("*",10)  #ok
print(text)

p=* , n=5
p=- , n=5
p=* , n=10
**********

In [ ]:
def student(firstname="Ronal", lastname ='Mark', standard ='Fifth'):
     print(firstname, lastname, 'studies in', standard, 'Standard')
student("John")
student()

John Mark studies in Fifth Standard
Ronal Mark studies in Fifth Standard

## Parametrs Passing: Call by Value or Call by Name

In [ ]:
#pass by value
#https://www.python-course.eu/python3_passing_arguments.php

def ref_demo(x):
    print(f"x={x}, id(x)={id(x)}")
    x=42
    print(f"x={x}, id(x)={id(x)}")

In [ ]:
k=20
ref_demo(k)
print(f'k={k}, id(k)={id(k)}')

x=20, id(x)=94727932341344
x=42, id(x)=94727932342048
k=20, id(k)=94727932341344

In [ ]:
def  mylist(ml):
  print(f"ml={ml}, id(ml)={id(ml)}")
  ml.append("John")
  print(f"ml={ml}, id(ml)={id(ml)}")

In [ ]:
 lis=["Nobita","Giant"]
 print(f"lis={lis}, id(lis)={id(lis)}")
 mylist(lis)
 print(f"lis={lis}, id(lis)={id(lis)}")

lis=['Nobita', 'Giant'], id(lis)=139715646957920
ml=['Nobita', 'Giant'], id(ml)=139715646957920
ml=['Nobita', 'Giant', 'John'], id(ml)=139715646957920
lis=['Nobita', 'Giant', 'John'], id(lis)=139715646957920

In [ ]:
def  mylist2(ml):
  print(f"ml={ml}, id(ml)={id(ml)}")
  ml[0]="John"
  print(f"ml={ml}, id(ml)={id(ml)}")

In [ ]:
lis=["Nobita","Giant"]
print(f"lis={lis}, id(lis)={id(lis)}")
mylist2(lis)
print(f"lis={lis}, id(lis)={id(lis)}")

lis=['Nobita', 'Giant'], id(lis)=139715646858656
ml=['Nobita', 'Giant'], id(ml)=139715646858656
ml=['John', 'Giant'], id(ml)=139715646858656
lis=['John', 'Giant'], id(lis)=139715646858656

In [ ]:
def no_side_effects(cities):
    print(cities)
    cities = cities + ["Birmingham", "Bradford"]
    print(cities)
locations = ["London", "Leeds", "Glasgow", "Sheffield"]
no_side_effects(locations)

In [ ]:
def side_effects(cities):
    print(cities)
    cities += ["Birmingham", "Bradford"]
    print(cities)
 
locations = ["London", "Leeds", "Glasgow", "Sheffield"]

In [ ]:
def side_effects(cities):
    print(cities)
    cities += ["Paris", "Marseille"]
    print(cities)
 
locations = ["Lyon", "Toulouse", "Nice", "Nantes", "Strasbourg"]
side_effects(locations[:])
print(locations)

## ฟังก์ชันแบบไม่จำกัดจำนวนพารามิเตอร์

In [ ]:
def varpafu(*x): 
    print(x)
varpafu()

In [ ]:
 def f(**args):
    print(args)